<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <script src="/static/he.js"></script>
        <script src="/static/message.js"></script>
        <script src="/static/linkify.min.js"></script>
        <script src="/static/linkify-string.min.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </body>
</html>